<h1>Listing microposts</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user.name %></td>
        <td><%= link_to 'Show', micropost, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to edit_micropost_path(micropost), class: 'btn btn-info btn-xs' do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        </td>
        <td><%= link_to micropost, method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Micropost', new_micropost_path, class: 'btn btn-success' %>
